<form id="seo-form" method="post" action="/api/seo/">
  <input type="text" name="url" title="url" value="{{ paseo_url }}"/>

  <p id="send-wrap" class="clearwrap">
    <button type="submit" class="bigbutton">Send</button>
    <img src="/img/ajax-loader.gif" id="spinner" />
  </p>
</form>

<div class="help-blurb" {{# help_blurb_hidden? }}style="display: none;"{{/ help_blurb_hidden? }}>
  <div id="help-text">
    <p>Hurl makes HTTP requests.</p>
    <p>Enter a URL, set some headers, view the response, then share it with others.</p>
    <p>Perfect for demoing and debugging APIs.</p>
  </div>
</div>
<div class="help-blurb" {{# try_it_hidden? }}style="display: none;"{{/ try_it_hidden? }}>
 <div id="try-it">
    <h4>Try it out:</h4>
    <ul class="examples">
      {{# default_hurls }}
        <li class="{{ class }}"><a href="/hurls/{{ sha }}">{{ name }}</a></li>
      {{/ default_hurls }}
    </ul>
  </div>
</div>
<div id="request-and-response" {{# hide_request_and_response? }}style="display:none;"{{/ hide_request_and_response? }}>
  <div class="utils">
    <a href="{{ view_permalink }}" class="full-size-link nav-item" target="_blank">view full size</a>
    <a href="{{ hurl_permalink }}" class="permalink nav-item">permalink</a>
  </div>
  <p>
    <span class="toggle-reqres" style="display: none;">
      <span class="tab-current">request</span> <a class="toggle-reqres-link" href="#">response</a>
    </span>
    <span class="toggle-reqres">
      <a class="toggle-reqres-link" href="#">request</a> <span class="tab-current">response</span>
    </span>
  </p>
  <div id="code-request" class="code-wrap" style="display: none;">
    <div id="request" class="code-text">
      {{{ view_request }}}
    </div>
  </div>
  <div id="code-response" class="code-wrap">
    <div id="response" class="code-text">
      {{# view }}
        <pre>{{{ header }}}</pre>{{{ body }}}
      {{/ view }}
    </div>
  </div>
  <div class="utils">
    <a href="#" class="full-size-link nav-item" target="_blank">view full size</a>
    <a href="#" class="permalink nav-item">permalink</a>
  </div>
</div>
